<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.weeeha.tailhub</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/nickv/.local/bin/tailhub</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/nickv</string>
		<key>PATH</key>
		<string>/usr/local/bin:/Users/nickv/.local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>TAILHUB_DB_PATH</key>
		<string>/Users/nickv/.tailhub/tailhub.db</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/nickv/.tailhub/tailhub.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/nickv/.tailhub/tailhub.log</string>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
